<section class="contact-us">
    <div class="contact-us__title" ">
            <h1>ارتباط با ما</h1>
            <h3>شما میتوانید نظرات و انتقادات خود را برای ما بفرستید</h3>
        </div>
        <!-- ************************************* -->
        <div class=" contact-us__social">
        <div class="social__holder">
            <span class="contact-social--container">
                <svg class="contact-social">
                    <use xlink:href="/assets/images/social-sprite.svg#twitter"></use>
                </svg>
            </span>
        </div>
        <div class="social__holder">
            <span class="contact-social--container">
                <svg class="contact-social">
                    <use xlink:href="/assets/images/social-sprite.svg#facebook"></use>
                </svg>
            </span>
        </div>
        <div class="social__holder">
            <span class="contact-social--container">
                <svg class="contact-social">
                    <use xlink:href="/assets/images/social-sprite.svg#linkdein"></use>
                </svg>
            </span>
        </div>
    </div>
    <!-- ************************************* -->
    <div class="contact-us__icon">
        <div class="icon__holder">
            <span>6386 Spring st undefined anchorage, Georgiaa 12473 </span>
            <span class="contact-icon--container">
                <svg class="contact-icon">
                    <use xlink:href="/assets/images/sprite.svg#location"></use>
                </svg>
            </span>
        </div>
        <div class="icon__holder">
            <span>(021)555-8744</span>
            <span class="contact-icon--container">
                <svg class="contact-icon">
                    <use xlink:href="/assets/images/sprite.svg#call"></use>
                </svg>
            </span>
        </div>
        <div class="icon__holder">
            <span>tapsi.com</span>
            <span class="contact-icon--container">
                <svg class="contact-icon">
                    <use xlink:href="/assets/images/sprite.svg#email"></use>
                </svg>
            </span>
        </div>
    </div>
    <!-- ************************************ -->
    <div class="contact-us__map">
        <img src="./assets/images/@ map screen.png" alt="tapsi location">
    </div>
    <!-- ******************************************************* -->
    <div class="contact-us__form">
        <h3>نظرات شما</h3>
        <div class="contact__form--wrapper">
            <form action="">
                <input type="text" placeholder="نام خود را وارد کنید">
                <input type="email" placeholder="ایمیل خود را وارد کنید">
                <textarea name="" id="" cols="30" rows="10" placeholder="نظر شما..."></textarea>
                <button type="submit" class="btn btn--primary">ثبت نظر</button>
            </form>
        </div>
    </div>
</section>