<footer class="main-footer">
    <div class="container footer">
        <div class="footer__item footer__intro">
            <h1>تپسی</h1>
            <p>اپلیکیشن درخواست خودرو و پیک</p>
            <p>تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
        </div>
        <div class="footer__item">
            <h6>مسافران</h6>
            <a href="#">دانلود اپ مسافر</a>
            <a href="#">نسخه وب تپسی</a>
            <a href="#">پرسش‌های متداول مسافران</a>
            <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="footer__item">
            <h6>رانندگان</h6>
            <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
            <a href="#">دانلود اپ سفیر</a>
            <a href="#">پرسش‌های متداول سفیران</a>
            <a href="#">باشگاه سفیران</a>
        </div>
        <div class="footer__item">
            <h6>کسب و کارها</h6>
            <a href="#">پنل سازمانی تپسی</a>
            <a href="#">خرید کد اعتبار و تخفیف</a>
            <a href="#">دریافت API</a>
            <a href="#">شرایط و قوانین</a>
        </div>
        <div class="footer__item enamad">
            <div class="footer__namad">
                <img src="./assets/images/etehadiye.png" alt="">
            </div>
            <div class="footer__namad">
                <img src="./assets/images/enamad.png" alt="">
            </div>
        </div>
        <div class="footer__item">
            <p>تپسی در شبکه های اجتماعی</p>
            <div class="footer-social-icons">
                <span class="contact-icon--container">
                    <a href="#">
                        <svg class="contact-icon">
                            <use xlink:href="/assets/images/social-sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </span>
                <span class="contact-icon--container">
                    <a href="#">
                        <svg class="contact-icon">
                            <use xlink:href="/assets/images/social-sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </span>
                <span class="contact-icon--container">
                    <a href="#">
                        <svg class="contact-icon">
                            <use xlink:href="/assets/images/social-sprite.svg#linkdein"></use>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>