<section class="hero-section">
    <div class="banner-bg"></div>
    <div class="hero-wrapper ">
        <div class="hero-intro ">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="hero-btn-container">
                <div class="hero-intro__btn">
                    <a href="#">
                        <span>
                            <svg class="icon download">
                                <use xlink:href="/assets/images/hero-svg.svg#ic-p-download"></use>
                            </svg>
                        </span>
                        <p>دانلود اپلیکیشن مسافران</p>
                    </a>
                </div>
                <div class="hero-intro__btn">
                    <a href="#">
                        <span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/hero-svg.svg#ic-pwa"></use>
                            </svg>
                        </span>
                        <p>وب اپلیکیشن مسافران</p>
                    </a>
                </div>
                <div class="hero-intro__btn hero-intro__btn2">
                    <a href="#">
                        <span>
                            <svg class="icon download">
                                <use xlink:href="/assets/images/hero-svg.svg#ic-p-download-white"></use>
                            </svg>
                        </span>
                        <p>دانلود اپلیکیشن رانندگان</p>
                    </a>
                </div>
                <div class="hero-intro__btn hero-intro__btn2">
                    <a href="#">
                        <span>
                            <svg class="icon">
                                <use xlink:href="/assets/images/hero-svg.svg#ic-driver-join"></use>
                            </svg>
                        </span>
                        <p class="driver-sign">ثبت نام راننده</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img class="mockup" src="/assets/images/mockup-phone.png" alt="">
</section>