<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>travell</title>
</head>

<body>
    <section class="travell container">
        <div class="travell__slides">
            <div class="travell--slide">
                <div class="slide__img">
                    <img src="/assets/images/travell 3.jpg" alt="travell">
                </div>
                <div class="slide__detail ">
                    <div class="slide--header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت 1 روزه</p>
                    </div>
                    <p class="slide--title">سفر به شیراز</p>
                    <div class="travell-svg__container ">
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#seen"></use>
                            </svg>
                            <span>
                                25
                            </span>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#like"></use>
                            </svg>
                            <span>12</span>
                        </div>
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#edit"></use>
                            </svg>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#delete"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travell--slide">
                <div class="slide__img">
                    <img src="/assets/images/travell 2.jpg" alt="travell">
                </div>
                <div class="slide__detail">
                    <div class="slide--header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت 2 روزه</p>
                    </div>
                    <p class="slide--title">سفر به پایتخت</p>
                    <div class="travell-svg__container">
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#seen"></use>
                            </svg>
                            <span>
                                25
                            </span>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#like"></use>
                            </svg>
                            <span>12</span>
                        </div>
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#edit"></use>
                            </svg>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#delete"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travell--slide">
                <div class="slide__img">
                    <img src="/assets/images/travell 1.png" alt="travell">
                </div>
                <div class="slide__detail">
                    <div class="slide--header">
                        <span class="badge badge--primary">ویژه</span>
                        <p>اقامت 3 روزه</p>
                    </div>
                    <p class="slide--title">سفر به قلب کویر</p>
                    <div class="travell-svg__container">
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#seen"></use>
                            </svg>
                            <span>
                                25
                            </span>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#like"></use>
                            </svg>
                            <span>12</span>
                        </div>
                        <div>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#edit"></use>
                            </svg>
                            <svg class="travell-svg">
                                <use xlink:href="/assets/images/travel-svg.svg#delete"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>